*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--krem);
  color: var(--matte-black);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-size: 16px;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
button { cursor: pointer; background: none; border: none; }
h1,h2,h3,h4,h5,h6 { overflow-wrap: break-word; line-height: 1.2; }
a { color: inherit; text-decoration: none; }
ul { list-style: none; }